.overlay-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.overlay-content-block {
  background-color: var(--text-background-colour);
  width: 100%;
  margin: 30px;
  padding: 20px;
  border-radius: 4px;
  overflow-y: scroll;
}

.overlay-close {
  text-align: right;
  color: var(--darker-colour);
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 10px;
}
