.clue-display {
  column-count: 2;
}

.clue-display h2 {
  font-size: 15px;
  margin-bottom: 3px;
}

.clue-display ul {
  list-style-type: none;
  padding: 0;
  font-size: 12px;
}

@media print {
  .clue-display h2 {
    font-size: 12px;
  }

  .clue-display ul {
    font-size: 10px;
  }
}
