.anagram-block__result {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
}

.anagram-block__word-group {
    background-color: #ffe7ff;
    padding: 0.3em;
    border-radius: 2px;
    margin: 0.2em;
    box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.1);
}