body {
    font-family: "Verdana", "Arial", sans-serif;
    background-color: $text-background-colour;
    color: $text-colour;
    background-image: url("/CrosswordCreator/assets/images/background.png");
    background-repeat: repeat;
}

a {
    color: $darker-colour;
    &:visited {
        color: $medium-colour;
    }
}

.clearfix {
    clear: both;
}
.clearfix:after {
    clear: both; 
    content: "";
    display: table; 
}